.root{
	-fx-background-color: #66ccff;
}

.readable-text{
	/*
	-fx-font-family: helvetica arial sans-serif;
	-fx-text-fill:#FFFFFF;
	-fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 1) , 10,0,0,1 );
	*/
}

/*
.label-bright{
	-fx-text-fill:#FFFFFF;
	-fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.9) , 0,0,0,1 );
}

.label-header{
	-fx-text-fill:#FFFFFF;
	-fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.9) , 0,0,0,1 );
}

.table-view{
	-fx-text-fill:#FFFFFF;
	-fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.9) , 0,0,0,1 );
}
*/

/* Old Buttons */

/*
.button{
	-fx-text-fill:#000000;
	-fx-font-family:arial;
	-fx-font-size:15;
	-fx-padding:5 10 5 10;
	-fx-background-radius:100;
	-fx-border-radius:100;
	-fx-border-color: #000000;
	-fx-border-width: 1;
	-fx-border-style: solid;
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#FEFEFE, #999999);
}
.button:hover{
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#FFFFFF, #A0A0A0);
}
.button:pressed{
	-fx-effect: innershadow(gaussian, #000000, 10, 0, 0, 0);
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#999999, #FEFEFE);
}
*/

/* New Buttons */

.button{
	-fx-text-fill:#FFFFFF;
	-fx-font-family:arial;
	-fx-font-size:15;
	-fx-padding:5 10 5 10;
	-fx-background-radius:5;
	-fx-border-radius:5;
	-fx-border-color: #000000;
	-fx-border-width: 0;
	-fx-border-style: none;
	-fx-background-color: rgba(0,0,0,0.2);
}
.button:hover{
	-fx-background-color: rgba(0,0,0,0.25);
}
.button:pressed{
	-fx-background-color: rgba(0,0,0,0.5);
}

.text-field{
	-fx-background-color: #FFFFFF;
	-fx-effect: innershadow(gaussian, #000000, 5, 0.0, 0, 0);
	-fx-background-radius:5;
	-fx-border-radius:5;
	-fx-border-style:none;
	-fx-border-color:#999999;
	-fx-border-width:1;
	-fx-font-family:arial sans-serif;
}
.text-field:focused{
	-fx-border-color:#000000;
	-fx-effect: innershadow(gaussian, #000000, 10, 0.0, 0, 1);
}

.choice-box{
	-fx-background-color: #FFFFFF;
	-fx-effect: innershadow(gaussian, #000000, 5, 0.0, 0, 0);
	-fx-background-radius:5;
	-fx-border-radius:5;
	-fx-border-style:solid;
	-fx-border-color:#999999;
	-fx-border-width:1;
	-fx-font-family:arial sans-serif;
}
/*
.choice-box .label{
	-fx-background-color: #FFFFFF;
	-fx-background-radius:0;
	-fx-border-radius:0;
	-fx-border-style:none;
	-fx-border-color:#000000;
	-fx-color:#000000;
	-fx-border-width:0;
	-fx-font-family:arial sans-serif;
}
*/
.choice-box .label:focused{
	-fx-background-color: green;/*
	
	-fx-background-radius:0;
	-fx-border-radius:0;
	-fx-border-style:none;
	-fx-border-color:#000000;
	-fx-border-width:0;
	-fx-font-family:arial sans-serif;
	*/
}
.choice-box:focused{
	-fx-border-color:#000000;
}